{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edition utilisateur</h1>
        <div class="text-right">
             {{ include('Admin/user/_delete_form.html.twig') }}
        </div>
        {{ include('Admin/user/_form.html.twig', {'button_label': 'Valider'}) }}
        <div class="text-left mt-4">
            <a class="btn btn-info" href="{{ path('user_index') }}">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
