<form method="post" action="{{ path('intervention_report_delete', {'id': intervention_report.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ intervention_report.id) }}">
    <button class="btn">Delete</button>
</form>
