{% extends 'base.html.twig' %}

{% block title %}Edit InterventionReport{% endblock %}

{% block body %}
    <h1>Edit InterventionReport</h1>

    {{ include('intervention_report/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary" href="{{ path('intervention_report_list',{'customer': intervention_report.customer.id} ) }}">back to list</a>

    {{ include('intervention_report/_delete_form.html.twig') }}
{% endblock %}
