{% extends 'base.html.twig' %}

{% block title %}Edit InterventionReport{% endblock %}

{% block body %}
    <h1>Edit InterventionReport</h1>

    {{ include('intervention_report/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('intervention_report_index') }}">back to list</a>

    {{ include('intervention_report/_delete_form.html.twig') }}
{% endblock %}
