{% extends 'base.html.twig' %}

{% block title %}New InterventionReport{% endblock %}

{% block body %}
    <div class="container">
    <h1>Nouvelle intervention</h1>

    {{ include('intervention_report/_form.html.twig') }}

    <a class="btn btn-outline-info" href="{{ path('intervention_report_list', {'customer': customerId}) }}">Retour</a>
    </div>
{% endblock %}
