{% extends 'base.html.twig' %}

{% block title %}Edit Customer{% endblock %}

{% block body %}
    <div class="container">


        <h1>Edition du client</h1>
        <div class="row">
            <div class="col">
                {{ include('customer/_form.html.twig', {'button_label': 'Valider'}) }}
            </div>
        </div>


        <a class="btn btn-outline-info mb-4" href="{{ path('customer_index') }}">Retour</a>
    </div>

{% endblock %}
