{% extends 'base.html.twig' %}

{% block title %}Nouveau client{% endblock %}

{% block body %}
    <div class="container mb-4">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Nouveau client</h1>
            </div>
        </div>
        {{ include('customer/_form.html.twig') }}
        <div class="row">
            <div class="col">
            <a class="btn btn-outline-info" href="{{ path('customer_index') }}">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {#<script src="{{ asset('build/adressUtils.js') }}"></script>#}
{% endblock %}