$backgroundColor : #4d4d4d;
$textColor1: #cc8800; // orange
$primary: $textColor1;

$info: lighten($primary,30%);
$table-bg: darken(white,10%);
$dark: darken($backgroundColor,10%);
$dark2 : darken($backgroundColor,6%);
$colorTitle : white;

// nav
$dropdown-bg: darken($dark,5%);
$dropdown-link-color: $primary;

//$dropdown-border-color

/* bootstrap */
//$secondary:     $gray-600 !default;
//$success:       $green !default;
//$warning: yellow;
//$danger:  red;
//$light:         $gray-100 !default;
//


// Thumbnails
$thumbnail-border-color : $textColor1;
$thumbnail-padding: 1px;
//$figure-caption-font-size:
//$figure-caption-color: