$backgroundColor : #4d4d4d;
$textColor1: #cc8800; // orange

/* bootstrap */
$primary: $textColor1;
//$secondary:     $gray-600 !default;
//$success:       $green !default;
$info: lighten($primary,30%);
//$warning: yellow;
//$danger:  red;
//$light:         $gray-100 !default;
$dark: darken($backgroundColor,10%);
//
$table-bg: darken(white,10%);

$colorTitle : white;

// Thumbnails
$thumbnail-border-color : $textColor1;
$thumbnail-padding: 1px;
//$figure-caption-font-size:
//$figure-caption-color: