
body {
  background-color:  $backgroundColor;
  color: $textColor1;
}

$tableColor : black;
$table-warning: $warning;

h1,h2,h3,h4,h5,h6{
  color : $colorTitle;
}

h1,h2{
  text-align: center;
  margin-top: 20px;
}

.middleContainer{
  height: calc(100vh - 60px);
}

table{
  color: $tableColor;
  th{
    border: none !important;
    background-color: $dark;
    color: $primary;
  }

}

.table-primary, .table-primary > th, .table-primary > td{
  background-color: rgba($blue,0.3);
}

.table-warning, .table-warning > th, .table-warning > td{
  background-color: rgba($yellow,0.3);
}

.myTable{
  .myBody{
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .thead1{
    background-color: $tableColor;
  }
  .thead2{
    background-color: $dark;
  }

  .tbody{
    color:$tableColor;
  }
 .cell {
   padding:0.5rem 1rem;
 }
}

// ---------- ScroolBar ---------------
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color:$dark;

  //border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color:$primary;

  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

// ---------------------------

.icone{
  width:30px;
  height: auto;
}

#configurationImg{
  width:40px;
  filter:invert(60%);

  &:hover{
    filter:invert(90%);
  }
}

// --------------------
.infoCount{
  text-align: center;
  background-color: $dark2 ;
  border-radius: .25rem;
  padding : 0.5rem;
  //color:$textColor1;
  color:darken(white,20%);
  p{margin:0}
  .infoTitle{
    letter-spacing:1px;
    font-size:0.8rem;
    font-weight: bold;
  }
  .counter {
    font-size:2.75rem;
  }

  .progress{
    height:14px;
  }

  .progress-bar{
    font-size: 10px;
  }

}

// ---------------
.gridMaintenance{

  .grid{
    text-align: center;
    padding : 0;
    color:darken(white,20%);
    background-color: $dark2 ;
    min-width: 100px;
    border-right:1px solid $primary;

    .title{
      border-bottom:1px solid $primary;
      font-weight: bold;
      letter-spacing:1px;
      font-size:1.2rem;
    }

    .counter{
      font-size:1.2rem;
    }
  }

  .grid:last-child{
    border-right:none;
  }
}

.calendarTable{

  color:darken(white,20%);
  background-color: $dark2 ;
  th{
    border: none !important;
    background-color: $dark2;
    //color:darken(white,20%);
  }
  .headTitle{
    font-size: larger;
    color:darken(white,20%);
  }
}