{% extends 'base.html.twig' %}

{% block title %}Gestion des composants{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {% include 'component/extraction/_table_extraction.html.twig' %}
        </div>
        <div class="col">
            {% include 'component/heating_source/_table_source.html.twig' %}
        </div>
        <div class="col">
            {% include 'component/heating_type/_table_heatingType.html.twig' %}
        </div>
    </div>

{% endblock %}
