<form method="post" action="{{ path('customer_heating_delete', {'id': customer_heating.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer_heating.id) }}">
    <button class="btn">Delete</button>
</form>
