{% extends 'base.html.twig' %}

{% block title %}New CustomerHeating{% endblock %}

{% block body %}
    <h1>Create new CustomerHeating</h1>

    {{ include('customer_heating/_form.html.twig') }}


    <a href="{{ path('customer_show', {'id': customer.id} ) }}">Retour</a>
{% endblock %}
