{% extends 'base.html.twig' %}

{% block title %}Ajouter un système au client{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajout un système de production au client</h1>
        {{ include('customer_heating/_form.html.twig') }}

        <div class="mb-2 d-flex justify-content-between">
            <a class="btn btn-outline-info" href="{{ path('customer_show', {'id': customer.id} ) }}">Retour</a>
        </div>
    </div>

{% endblock %}
