{% extends 'base.html.twig' %}

{% block title %}Edit HeatingType{% endblock %}

{% block body %}
    <h1>Edit HeatingType</h1>

    {{ include('heating_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('heating_type_index') }}">back to list</a>

    {{ include('heating_type/_delete_form.html.twig') }}
{% endblock %}
