<form method="post" action="{{ path('heating_delete', {'id': heating.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ceci?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ heating.id) }}">
    <button class="btn btn-outline-danger mb-4">Supprimer</button>
</form>
